## list

In [1]:
li =[-1,-2,0,4,5,6]
max(li)

6

In [2]:
min(li)

-2

In [3]:
li.sort()
li

[-2, -1, 0, 4, 5, 6]

# tuple

In [4]:
t1 = (1,2,3)
t1

(1, 2, 3)

In [5]:
t0 = 1,2,3
t0

(1, 2, 3)

In [6]:
t0[0]

1

In [7]:
t0[-1]

3

In [8]:
t2 = ("one","two","three")
for item in t1:
    print(item)

1
2
3

In [9]:
t3 = t1+t2
t3

(1, 2, 3, 'one', 'two', 'three')

In [10]:
if "four" in t3:
    print(True)
print(False)

False

In [11]:
t3[2:5]

(3, 'one', 'two')

In [12]:
t3[-4:-1]

(3, 'one', 'two')

In [13]:
t = ("aditya",)
type(t)

tuple

In [14]:
t4 = ("python","java","programming")
li = list(t4)
li[2] = "c++"
print(tuple(li))

('python', 'java', 'c++')

In [15]:
del(t2)

In [16]:
for i in t1:
    print(i)

1
2
3

In [17]:
tu=()
for i in tu:
    print(i)

In [18]:
t3 = (2,3,6,7,4,55,6,6,77,2,8,9,4,11,9,90)
t3.count(6)

3

In [19]:
t3.index(7)

3

In [20]:
t3.index(7,3)

3

In [21]:
t=1,2,3
type(t)

tuple

In [22]:
t4

('python', 'java', 'programming')

In [23]:
t1,t2,t3=t
t1

1

In [24]:
t2

2

In [25]:
t3

3

## Tasks on Tuples and Lists

- 1) write a python program to change the item in a tuple.
- 2) write a python program to convert a tuple to a string.
- 3) print the 4th element and 4th element from the last in tuple.
- 4) write a python program to find repeated items in a tuple.
- 5) print the length to a tuple without using length function.
- 6) write a python program to reverse tuple.
- 7) write a program to replace the last value of all elements in a tuple.

In [26]:
# 1) write a python program to change the item in a tuple.
tp = ("one","two","three","four","five")
li = list(tp)
li[4] = "ttt"
print(tuple(li))

('one', 'two', 'three', 'four', 'ttt')

In [31]:
tp1 = ('a','d','i','t','y','a')
''.join(tp1)

'aditya'

In [ ]:
# 2) write a python program to convert a tuple to a string.
tuple4 = ("aditya")
type(tuple4)

In [ ]:
t = ("aditya",)
list(t)

In [35]:
# 3) print the 4th element and 4th element from the last in tuple.
tuple6 = (1,2,3,4,5,6)
print(tuple6[3])
tuple6[-4]

4

3

In [36]:
# 4) write a python program to find repeated items in a tuple
tuple1 = 1,2,3,5,4,5,6,3,4,5
print(tuple1)
count = tuple1.count(5)
print(count)

(1, 2, 3, 5, 4, 5, 6, 3, 4, 5)
3

In [ ]:
# 5) print the length to a tuple (without) using length function.
tuple8 = (1,2,3,4,5,6)
len(tuple8)

In [32]:
string=raw_input("Enter string:")
count=0
for i in string:
      count=count+1
print("Length of the string is:")
print(count)

NameError: name 'raw_input' is not defined

In [29]:
# 6) write a python program to reverse tuple.
def Reverse(tuples): 
    new_tup = tuples[::-1] 
    return new_tup

In [30]:
tuples = (9,8,7,6,5,4,3,2,1) 
print(Reverse(tuples))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# 7) write a program to replace the last value of all elements in a tuple.

In [28]:
tu = ((1,2,3),(1,2,3),(4,5,6))
for i in tu:
    print(i[:-1]+(16,))

(1, 2, 16)
(1, 2, 16)
(4, 5, 16)

In [ ]:
li = 10,7,5,3,-1,0
ali = -1,0,3,5,7,10

# Task on list

- 1)  Write a program to find the second largest and second small elements in a list
- 2) write a program to get the difference between two lists
- 3) write a program to print the list after removing even numbers in it
- 4) print  the palindrome elements in a given list

In [ ]:
list1 = [1,2,30,45,5,6,88,76]

In [50]:
def palindromeNumbers(list_a):  
    c = 0 
    for i in list_a:              
        t = i 
        rev = 0
        while t>0: 
            rev = rev*10+t%10
            t = t/10
        if rev == i: 
            print(i) 
            c = c + 1
    print(c)    
def main(): 
    list_a = [10, 121, 133, 155, 141, 252] 
    palindromeNumbers(list_a) 
    list_b = [ 111, 220, 784, 565, 498, 787, 363] 
    palindromeNumbers(list_b)                      
if __name__=="__main__": 
    main()

0
0

In [57]:
def find_len(li2):
    length = len(li2)
    li2.sort()
    print("Largest:", li2[length-1])
    print("Smallest:", li2[0])
    print("Second Largest:", li2[length-2])
    print("Second Smallest:", li2[1])

In [62]:
li2=[3,4,5,6,55,66,84]
Largest = find_len(li2)

Largest: 84
Smallest: 3
Second Largest: 66
Second Smallest: 4

In [61]:
li1 = [12,14,12,34,5,6,77,9]
for num in li1:
    if num%2==0:
        print(num,end=" ")

12 14 12 34 6